<!DOCTYPE html>
<html lang="en">
<head>
  <title>ATN Store</title>
  <link rel="icon" href="./images/Logo1.png" type="image/icon type">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/styles1.css">
</head>
<body>

<div class="jumbotron">
  <div class="container text-center" style="background-image: url('./images/Logo.jpg');">
    <h1><b> ATN Store </b></h1>      
    <p>Toys for teenagers</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid" >
        <ul class="nav navbar-nav" style="background-color: blue;">
        <li class="active"><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/user"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Toys1</div>
        <div class="panel-body"><img src="./images/Toys1.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">OUTSTOCK</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Toys2</div>
        <div class="panel-body"><img src="./images/Toys2.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">OUTSTOCK</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Toys3</div>
        <div class="panel-body"><img src="./images/Toys3.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">OUTSTOCK</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Toys4</div>
        <div class="panel-body"><img src="./images/Toys4.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Comming Soon</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Toys5</div>
        <div class="panel-body"><img src="./images/Toys5.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Comming Soon</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Toys6</div>
        <div class="panel-body"><img src="./images/Toys6.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Available</div>
      </div>
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <p>ATN Store</p>  
</footer>

</body>
</html>